* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
}

h1 {
    width: 200px;
    margin: 10px auto;
    padding: 8px;
    color: darkmagenta;
    border-bottom: 3px double palevioletred;
    text-align: center;
}

h2 {
    padding: 8px;
    color: darkmagenta;
    border-bottom: 3px double palevioletred;
    text-align: center;
    width: 200px;
    margin: 10px auto;
}

ul.recipe-list {
    list-style: none;
    margin: 20px;
}

li {
    margin: 10px;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

p.back-to-home {
    text-align: center;
    margin: 10px auto;
}